
@model IEnumerable<Author>
<div class="container">
    <h3 class="text-center display-3">
        List of our books
    </h3>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(Model => Model.Name)</th>
                <th>@Html.DisplayNameFor(Model => Model.LastName)</th>
                <th class="text-end ps-5">Action</th>
            </tr>
        </thead>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.LastName</td>

                <td class="d-flex justify-content-end gap-1">
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
                    <form asp-action="Delete" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@book.Id" />
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
