@model IEnumerable<Book>
<div class="container">
    <h3 class="text-center display-3">
        List of our books
    </h3>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th class="text-center align-middle">@Html.DisplayNameFor(Model => Model.bookImageLink)</th>
                <th class ="text-center align-middle">@Html.DisplayNameFor(Model => Model.Title)</th>
                <th class="text-center align-middle">@Html.DisplayNameFor(Model => Model.Pages)</th>
                <th class="text-center align-middle">@Html.DisplayNameFor(Model => Model.IsBorrowed)</th>
                <th class="text-center align-middle">@Html.DisplayNameFor(Model => Model.Authors)</th>
                <th class="text-center align-middle">Action</th>
            </tr>
        </thead>
        @foreach (var book in Model)
        {
            <tr class="text-center align-middle text-nowrap">
                <td>
                    <img class="book-cover img-thumbnail "  src="@book.bookImageLink" />
                    </td>
                <td>@book.Title</td>
                <td>@book.Pages</td>
                <td>@(book.IsBorrowed ? "Not Avaliable" : "Avaliable")</td>
                <td>@String.Join(", ", book.Authors.Select(x => x.Name + " " + x.LastName))</td>
                <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
                        <form asp-action="Delete" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@book.Id" />
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
        }
    </table>
</div>
